.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #0F172A;
}

.results-box {
    -fx-spacing: 12;
    -fx-padding: 15;
}

.card, .tour-card {
    -fx-background-color: #1E293B;
    -fx-padding: 16;
    -fx-spacing: 8;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-border-color: #334155;
    -fx-cursor: hand;
}

.tour-card:hover {
    -fx-background-color: #24344D;
    -fx-border-color: #38BDF8;
}

.label, .tour-text {
    -fx-text-fill: #CBD5E1;
}

.title {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #F8FAFC;
}

.subtitle {
    -fx-font-size: 14px;
    -fx-text-fill: #CBD5E1;
}

.tour-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #F8FAFC;
}

.no-result {
    -fx-font-size: 14px;
    -fx-text-fill: #94A3B8;
}

.text-field, .password-field, .date-picker {
    -fx-background-color: #1E293B;
    -fx-text-fill: #F8FAFC;
    -fx-prompt-text-fill: #94A3B8;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: #334155;
    -fx-border-width: 1.2;
    -fx-padding: 6 10 6 10;
    -fx-font-size: 14px;
}

.text-field:focused, .password-field:focused, .date-picker:focused {
    -fx-border-color: #38BDF8;
}

.button {
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-background-radius: 26;
}

.primary-button {
    -fx-background-color: #38BDF8;
    -fx-text-fill: #0F172A;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-cursor: hand;
}

.primary-button:hover {
    -fx-background-color: #0EA5E9;
}

.primary-button:pressed {
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}

.secondary-button {
    -fx-background-color: #22C55E;
    -fx-text-fill: #052E16;
    -fx-font-size: 17px;
}

.secondary-button:hover {
    -fx-background-color: #16A34A;
}

.secondary-button:pressed {
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}

.toggle-button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 22;
}

.hyperlink {
    -fx-text-fill: #38BDF8;
    -fx-font-size: 13px;
}

.hyperlink:hover {
    -fx-text-fill: #7DD3FC;
}
